
.completo_carta{
    width:90%;
    border-radius: 15%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

.completo_carta_img{
    margin-top: 0.8;
    margin-left: 22;
    border-radius: 15%;
    height: 218;
}
.completo{
    width: 100%;
}
.card_img{
    margin: 4%;
    border-radius: 15%;
    border: 20px solid #fcf9ee; 
}
.label_promo{
    width: 200;
    height: 60;
    border-radius: 20%;
    color: #fcf9ee; 
    text-align: center;
    font-size: 20%;
    font-weight: bold;
    margin-top: 200;
    margin-left: 100;
    background-color: #CA2141;
    
}
.nav{
    justify-content: space-between;
}
.completo_nav{
    margin-top: 25;
    margin-left: 55;
}
.separador1{
    color: white;
    height: 96px;
    text-align: center;
    font-weight: bold;
    font-size: 25%;
    font-style: italic;
    
}
.imgs_provedores{
    margin: 10;
}
.separadores{
    margin-top: 40px;
}
.inf{
    color: #fcf9ee;
    text-align:right;
}
.precio{
    background-color: #CA2141;
    text-align: center;
    color: #fcf9ee;
    width: 90;
    height: 40;
    border-radius: 20%;
    font-size: 15%;
    font-weight: bold;
    margin-left: 230;
    margin-top: 30;
}
.completo_carta2{
    width:89.5%;
    border-radius: 15%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}
.completo_carta_img2{
    margin-left: 18;
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
    height: 218;
}
.info_producto{
    color: #fcf9ee;
    text-align: center;
    font-weight: bold;
    margin-top: 235;
    margin-left: 120;
    font-size: 18%;
}