<ScrollView orientation="vertical">
    <GridLayout rows=" 140 80 360 80 310 80 330 40 " backgroundColor="#faf5e2">

        <StackLayout row="0" justifyContent="center">
            <StackLayout backgroundColor="#fcf9ee">
                <FlexboxLayout class="nav">
                    <AbsoluteLayout position="relative">
                        <Image src="~/app/images/fondo_nav.png"></Image>
                        <FlexboxLayout class="completo_nav" >
                            <button class="fas" backgroundColor="#CA2141" color="white" text="&#xf015;" (tap)="onTap()"></button>
                            <button class="fas" backgroundColor="#CA2141" color="white" text="&#xf07a;"(tap)="productos()"></button>
                            <button class="fas" backgroundColor="#CA2141" color="white" text="&#xf007;"(tap)="perfil()"></button>
                        </FlexboxLayout>
                    </AbsoluteLayout>
                </FlexboxLayout>
            </StackLayout>
        </StackLayout>

        <StackLayout row="3">
            <label class="separador1" text="Nuestras promos"></label>
        </StackLayout>

        <StackLayout row="4" justifyContent="center">
            <ScrollView orientation="horizontal">
                <FlexboxLayout justifyContent="space-around">
                    <AbsoluteLayout position="relative">
                        <Image class="completo_carta" src="~/app/images/targetas_fondo.png"></Image>
                        <Image class="completo_carta" src="~/app/images/tuercas.png"></Image>
                        <label text="promos" class="completo_carta_info"></label>
                    </AbsoluteLayout>
                </FlexboxLayout>
            </ScrollView>
        </StackLayout>

        <StackLayout row="5">
            <label class="separador1" text="Proveedores"></label>
        </StackLayout>

        <StackLayout row="6">
            <ScrollView orientation="horizontal">
                <FlexboxLayout justifyContent="space-around">
                    <img src="~/app/images/volvo.png" class="imgs_provedores">
                    <img src="~/app/images/ferrari.png" class="imgs_provedores">
                    <img src="~/app/images/nissan.png" class="imgs_provedores">
                    <img src="~/app/images/volvo.png" class="imgs_provedores">
                    <img src="~/app/images/ferrari.png" class="imgs_provedores">
                    <img src="~/app/images/nissan.png" class="imgs_provedores">
                </FlexboxLayout>
            </ScrollView>
        </StackLayout>

        <StackLayout row="1">
            <label class="separador1" text="Productos"></label>
        </StackLayout>

        <StackLayout row="2" justifyContent="center">
            <ScrollView orientation="horizontal">
                <FlexboxLayout justifyContent="space-around">
                    <AbsoluteLayout position="relative">
                        <Image class="completo_carta2" src="~/app/images/targetas_producto.png"></Image>
                        <Image src="~/app/images/michelin.png" class="completo_carta_img2"></Image>
                        <label text=" $ 543.00 " class="precio"></label>
                        <label class="info_producto" text="Llantas michelin"></label>
                    </AbsoluteLayout>
                    
                </FlexboxLayout>
            </ScrollView>
        </StackLayout>
    </GridLayout>
</ScrollView>