<GridLayout rows=" 130 250 500" backgroundColor="#fcf9ee" >

    <StackLayout justifyContent="center" row="0">
        <StackLayout backgroundColor="#fcf9ee" justifyContent="center">
            <FlexboxLayout class="nav">
                <AbsoluteLayout position="relative">
                    <Image src="~/app/images/fondo_nav2.png"></Image>
                    
                </AbsoluteLayout>
            </FlexboxLayout>
        </StackLayout>
    </StackLayout>
    <StackLayout row="1">
        <AbsoluteLayout position="relative" *ngIf="details">
            <Image src="~/app/images/tarjetas_fondo2.png"></Image>
            <label class="divisor"></label>
            <label class="divisor_marco"></label>
            <image [src]="details.foto" class="img_usuario"></image>
        </AbsoluteLayout>
    </StackLayout>
    <StackLayout row="2" *ngIf="details">
        <label class="centrado_titulo" text="Producto:"></label>
        <label class="centrado" text="{{ details.nombre }}"></label>
        <label class="centrado_titulo" text="Descripcion"></label>
        <label class="centrado" text="{{ details.descripcion_producto }}"></label>
        <label class="centrado_titulo" text="Precio: "></label>
        <label class="centrado" text="{{ details.Precio }}"></label> 
        <label class="centrado_sesion" text="¿Desea añadir al carrito de compra?"></label> 
        <FlexboxLayout justifyContent="center">
            <button class="fas" backgroundColor="#CA2141" color="white" text="&#xf060;" (tap)="back()" ></button>
            <button id="detalle" class="fas" backgroundColor="#CA2141" color="white" text="&#xf217;" ></button>
        </FlexboxLayout>
    </StackLayout>
</GridLayout>