<GridLayout rows=" 135 250 500" backgroundColor="#fcf9ee" >

    <StackLayout justifyContent="center" row="0">
        <StackLayout backgroundColor="#fcf9ee" justifyContent="center">
            <FlexboxLayout class="nav">
                <AbsoluteLayout position="relative">
                    <Image src="~/app/images/fondo_nav2.png"></Image>
                    <FlexboxLayout class="completo_nav">
                        <button class="fas" backgroundColor="#CA2141" color="white" text="&#xf015;" (tap)="onTap()"></button>
                        <button class="fas" backgroundColor="#CA2141" color="white" text="&#xf07a;"(tap)="productos()"></button>
                        <button class="fas" backgroundColor="#CA2141" color="white" text="&#xf007;"(tap)="perfil()"></button>
                    </FlexboxLayout>
                </AbsoluteLayout>
            </FlexboxLayout>
        </StackLayout>
    </StackLayout>
    <StackLayout row="1">
        <AbsoluteLayout position="relative">
            <Image src="~/app/images/tarjetas_fondo2.png"></Image>
            <label class="divisor"></label>
            <label class="divisor_marco"></label>
            <image src="~/app/images/usuario.png" class="img_usuario"></image>
        </AbsoluteLayout>
    </StackLayout>
    <StackLayout row="2">
        <label class="centrado_titulo" text="Usuario: "></label>
        <label class="centrado" text="Nombre Usuario"></label>
        <label class="centrado_titulo" text="E-Mail"></label>
        <label class="centrado" text="Usuario@us.us"></label>
        <label class="centrado_titulo" text="ID usuario: "></label>
        <label class="centrado" text="***66***"></label> 
        <label class="centrado_sesion" text="¿Desea cerrar sesion?"></label> 
        <button class="fas" backgroundColor="#CA2141" color="white" text="&#xf2f5;" (tap)="cerrar_sesion()"  width="20%"></button>
    </StackLayout>
</GridLayout>